.main-row-employer-view {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.view-data-employer {
  border-top: 0.3px solid #adadad;
  margin-bottom: 2rem;
}
